%p#notice= notice

%p
  %b Provider:
  = @user.provider
%p
  %b Uid:
  = @user.uid
%p
  %b Name:
  = @user.name
%p
  %b Mail:
  = @user.mail
%p
  %b Image url:
  = @user.image_url

= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
